main{
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frame{
  width: 400px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.frame a{
  width: max-content;
  height: max-content;
}


.frame:nth-child(1){
  z-index: 0;
  width: 100px;
  animation: -left forwards 1s;
}
.frame:nth-child(2){
  z-index: 1;
  width: 140px;
  animation: -right forwards 1s;
  animation-delay: 1s;
}
.frame:nth-child(3){
  z-index: 2;
  width: 280px;
  top: 430px;
  animation: -left forwards 1s;
  animation-delay: 1.8s;
}
.frame:nth-child(4){
  z-index: 3;
  width: 480px;
  animation: -up forwards 3s;
  animation-delay: 2.6s;
}


.frame:nth-child(4)::after{
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgb(255, 217, 111) 0%, transparent 70%);
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 49%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0;
}
.frame:nth-child(4):hover::after {opacity: 1;}

.frame:nth-child(4)::before{
  content: 'click!';
  color: #fff;
  display: block;
  position: absolute;
  top: -2%;
  right: 47%;
  transform: translateX(-50%);
  animation: heartbeat 1.5s infinite;
}



@keyframes -left{
  0%{
    opacity: 0;
    transform: translate(-150%, -50%);
  }
  100% {opacity: 1;}
}
@keyframes -right{
  0%{
    opacity: 0;
    transform: translate(150%, -50%);
  }
  100% {opacity: 1;}
}
@keyframes -up{
  0%{
    opacity: 0;
    transform: translate(-50%, 150%);
  }
  100% {opacity: 1;}
}

@keyframes heartbeat {
  0%, 100% {transform: scale(1);}
  14% {transform: scale(1.3);}
  28% {transform: scale(1);}
  42% {transform: scale(1.3);}
  70% {transform: scale(1);}
}